<template>
  <modal ref="modal">
    <template #header>
      <div class="relative z-20 inline-block p-4 mx-4 bg-blue-300 border-4 border-white rounded-lg">
        <h2 class="font-bold text-white">
          <fa-icon icon="paper-plane" class="mr-2"/> Kirim Data
        </h2>
      </div>
    </template>
    <template #content>
      <div class="px-8 pt-12 pb-4 -mt-8 bg-white rounded-lg">
        <form class="mb-4" @submit.prevent="confirmSave">
          <div class="mb-4">
            <label>Nama PIC</label>
            <input v-model="username" maxlength="15" class="block w-full px-4 py-2 border border-gray-100 rounded">
          </div>
          <div class="flex -mx-2">
            <div class="w-1/2 px-2">
              <button class="w-full py-2 text-white bg-blue-500 border-gray-500 rounded disabled:bg-gray-400">
                Save
              </button>
            </div>
            <div class="w-1/2 px-2">
              <button
                type="button"
                class="w-full py-2 text-gray-200 bg-gray-100 border-gray-100 rounded disabled:bg-gray-400 bg-opacity-30"
                @click="close">
                Batal
              </button>
            </div>
          </div>
        </form>
        <div v-if="errorMessage" class="error">
          <div class="flex p-2 text-red-500 bg-red-100 bg-opacity-50 rounded">
            <div class="w-1/12"><fa-icon icon="times-circle" size="lg"/></div>
            <div>{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'ModalConfirmDelete',
  props: {
    items: {
      required: true,
      type: Array,
    },
  },
  emits: ['submitted', 'closed'],
  data () {
    return {
      username: '',
      error: false,
      errorMessage: '',
    }
  },
  computed: {
    form () {
      return {
        items: this.items,
        username: this.username,
      }
    },
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.errorMessage = ''
      this.$emit('closed')
      this.$refs.modal.close()
    },
    confirmSave () {
      this.api.POST('/stockopname_submit', this.form)
        .then(response => {
          this.$emit('submitted', response)
          this.close()
        })
        .catch(error => {
          console.log(error)
          if (error.response.status == 422) {
            this.errorMessage = error.response.status + ': Terdapat kesalahan pada data yang anda kirim'
          } else if (error.response.status == 500) {
            this.errorMessage = error.response.status + ': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut'
          } else {
            this.errorMessage = 'Gagal tersambung dengan server. Silahkan hubungi Gradin untuk info lebih lanjut'
          }
        })
    },
  },
}
</script>