<template>
  <modal ref="modal" @closed="closedModal">
    <template #header>
      <div class="absolute z-20 p-4 bg-blue-300 border-4 border-white rounded left-16">
        <h2 class="text-base font-bold text-white"><fa-icon icon="trash" size="lg"/> Hapus Data</h2>
      </div>
    </template>
    <template #content>
      <div class="absolute w-11/12 p-4 bg-white rounded top-9 right-4">
        <div class="mt-4 overflow-y-auto">
          <slot>
            <p class="px-8 mb-4">Anda yakin ingin menghapus data?</p>
            <h4 class="px-8 mb-4 text-xs text-gray-400">Ketikkan "hapus" untuk menghapus data</h4>
          </slot>
        </div>
        <form class="mb-4" @submit.prevent="confirmDelete">
          <div class="px-8 mb-4">
            <input
              ref="textConfirmHapus"
              v-model.trim="textConfirmHapus"
              class="block w-full p-4 border rounded"
              placeholder="Masukkan disini">
          </div>
          <div class="flex px-4">
            <div class="w-1/2 text-center">
              <button
                class="w-4/5 h-10 text-white bg-blue-300 border-gray-500 rounded disabled:bg-gray-400"
                :disabled="!canDelete">
                Hapus data
              </button>
            </div>
            <div class="w-1/2 text-center">
              <button
                type="button"
                class="w-4/5 h-10 text-gray-200 bg-gray-100 border-gray-100 rounded bg-opacity-30"
                @click="close">
                Batalkan
              </button>
            </div>
          </div>
        </form>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'ModalConfirmDelete',
  emits: ['confirmed', 'closeModal'],
  data () {
    return {
      textConfirmHapus: '',
    }
  },
  computed: {
    canDelete: function () {
      return (this.textConfirmHapus.toLowerCase() === 'hapus')
    },
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.textConfirmHapus = ''
      this.$emit('closeModal')
    },
    async confirmDelete () {
      this.$emit('confirmed')
      this.close()
    },
  },
}
</script>