<template>
  <modal ref="modal">
    <template #header>
      <div class="relative z-20 inline-block p-4 mx-4 bg-blue-300 border-4 border-white rounded-lg">
        <h2 class="font-bold text-white">
          <fa-icon icon="paper-plane" class="mr-2"/> Upload File
        </h2>
      </div>
    </template>
    <template #content>
      <div class="px-8 pt-12 pb-4 -mt-8 bg-white rounded-lg">
        <form class="mb-4" @submit.prevent="confirmSave">
          <div class="mb-4">
            <label for="myfile">Pilih File :</label>
            <input
              id="myfile"
              type="file"
              name="myfile"
              @change="loadTextFromFile"><br>
            <p class="text-xs text-red-500">Pastikan daftar scan kosong. Daftar scan akan digantikan dengan daftar scan dari file</p>
          </div>
          <div class="flex -mx-2">
            <div class="w-1/2 px-2">
              <button class="w-full py-2 text-white bg-blue-500 border-gray-500 rounded disabled:bg-gray-400">
                OK
              </button>
            </div>
            <div class="w-1/2 px-2">
              <button
                type="button"
                class="w-full py-2 text-gray-200 bg-gray-100 border-gray-100 rounded disabled:bg-gray-400 bg-opacity-30"
                @click="close">
                Batal
              </button>
            </div>
          </div>
        </form>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'ModalUploadFile',
  emits: ['load', 'closed', 'submit'],
  data () {
    return {
      error: false,
    }
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$emit('closed')
      this.$refs.modal.close()
    },
    loadTextFromFile (ev) {
      const file = ev.target.files[0]
      const reader = new FileReader()

      reader.onload = e => this.$emit('load', e.target.result)
      reader.readAsText(file)
    },
    confirmSave () {
      this.$emit('submit')
      this.close()
    },
  },
}
</script>