<template>
  <div class="relative flex flex-col">
    <div class="fixed top-0 left-0 flex flex-col flex-initial w-full pt-4 pl-24 -ml-12 pr-96" style="background: #f6fbfd;">
      <div v-if="saveSuccess" class="relative flex w-full h-20 p-5 pb-4 text-blue-500 bg-blue-100 rounded">
        <div class="w-10 p-2.5 text-blue-100 bg-blue-500 rounded-full"><fa-icon icon="save" size="lg"/></div>
        <div class="p-2 text-lg">
          Data telah disimpan.
          <button class="px-2 text-white bg-blue-500 rounded">
            <router-link
              :to="{ name: 'riwayat_detail', params: { id_stockopname: stockopnameSubmit.id }, query: { date: stockopnameSubmit.created_at }}"
              class="text-lg">
              Lihat Detil
            </router-link>
          </button>
        </div>
        <button class="absolute top-2 right-2 focus:outline-none" @click="saveSuccess = false">
          <fa-layers>
            <fa-icon
              class="text-blue-500"
              icon="circle"
              size="sm"/>
            <fa-icon
              class="text-blue-100"
              icon="times"
              size="xs"/>
          </fa-layers>
        </button>
      </div>
      <div class="flex w-full h-24 p-8 my-4 bg-white border rounded shadow-sm">
        <div class="w-1/2">
          <span class="text-2xl">{{ totalSubmit }}</span>
          <span class="text-xs">  Data</span>
          <span class="pl-8 text-2xl">{{ totalPIC }}</span>
          <span class="text-xs">  PIC</span>
        </div>
        <div class="flex w-1/2 text-right">
          <div class="w-1/2 text-center">
            <button
              class="w-4/5 h-10 text-white bg-blue-500 rounded disabled:bg-gray-400 focus:outline-none"
              title="Klik untuk menyimpan data scan"
              :disabled="!enableButton"
              @click="saveData">
              Simpan
            </button>
          </div>
          <div class="w-1/2 text-center">
            <button
              class="w-4/5 h-10 text-white bg-red-500 rounded disabled:bg-gray-400 focus:outline-none"
              title="Klik untuk menghapus semua data scan"
              :disabled="!enableButton"
              @click="deleteData">
              Hapus
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-auto px-12" :class="{'pt-56': saveSuccess, 'pt-36': !saveSuccess}">
      <pagination :value="paginate" @change="getData"/>
      <div class="flex flex-wrap -mx-4">
        <div v-for="stockopname in stockopnames" :key="stockopname.id" class="w-1/3 px-4 mb-8">
          <div class="px-2 -mb-4 overflow-visible">
            <div class="inline-block px-2 py-1 mx-6 text-white bg-blue-500 rounded">
              {{ stockopname.username }}
            </div>
          </div>
          <div class="p-2 bg-white border rounded shadow-sm">
            <div class="flex mx-6 mt-4">
              <div class="w-1/2">
                <p class="text-xs text-gray-200">Submit pada</p>
                <p class="text-xl">{{ fmt.time(stockopname.created_at) }}</p>
              </div>
              <div class="w-1/2 text-right">
                <p class="text-xs text-gray-200">Jumlah data</p>
                <p class="text-xl">{{ fmt.number(stockopname.detail_count) }}</p>
              </div>
            </div>
            <div class="pb-6 mx-6 mt-4 text-right">
              <router-link
                :to="{ name: 'detail', params: { id_stockopname_submit: stockopname.id }}"
                class="flex text-base text-blue-500 rounded main-btn"
                @mouseover="hover = true; index = stockopname.id"
                @mouseleave="hover = false; index = 0">
                <div v-if="hover && index==stockopname.id" class="flex-1">
                  <button
                    class="p-2 text-center focus:outline-none">
                    Lihat Detail
                  </button>
                </div>
                <div class="flex-1">
                  <button
                    class="w-10 p-2 bg-blue-100 rounded bg-opacity-30 focus:outline-none">
                    <fa-icon icon="search" size="lg"/>
                  </button>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-confirm-delete-submit ref="modalConfirmDeleteSubmit" @confirmed="deleteSubmit" />
  <modal-confirm-save-submit ref="modalConfirmSaveSubmit" @confirmed="saveDataSubmit" />
</template>

<script>
import Pagination from '../../components/Pagination'
import ModalConfirmDeleteSubmit from './ModalConfirmDeleteSubmit'
import ModalConfirmSaveSubmit from './ModalConfirmSaveSubmit'
export default {
  name: 'Home',
  components: {
    Pagination,
    ModalConfirmDeleteSubmit,
    ModalConfirmSaveSubmit,
  },
  inject: ['toast'],
  props: {
    newStockopname: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      stockopnames: [],
      hover: false,
      index: 0,
      canDelete: true,
      canSave: true,
      saveSuccess: false,
      refreshDataInterval: null,
      stockopnameSubmit: {},
      paginate: {},
      totalPIC: 0,
      totalSubmit: 0,
    }
  },
  computed: {
    enableButton () {
      return this.totalPIC !== 0
    },
  },
  watch: {
    newStockopname (newSubmit) {
      let tempStockopname = this.stockopnames
      this.stockopnames = []
      this.stockopnames.push(newSubmit)
      tempStockopname.forEach(element => {
        this.stockopnames.push(element)
      })
    },
  },
  mounted () {
    // Echo.channel('stockopname-channel-' + process.env.MIX_SHOP_NAME)
    //   .listen('.newSubmit', (newSubmit) => {
    //     var array_temp = this.stockopnames
    //     this.stockopnames = []
    //     this.stockopnames.push({ id: newSubmit.id, username: newSubmit.username, created_at: new Date(), detail_count: newSubmit.items.length })
    //     array_temp.forEach(element => {
    //       this.stockopnames.push(element)
    //     })
    //     this.totalPIC++
    //     this.totalSubmit = this.totalSubmit + newSubmit.items.length
    //     this.canDelete = true
    //     this.canSave = true
    //     this.saveSuccess = false
    //   })
    this.getData(this.$route.query.page ?? 1)
    this.refreshDataInterval = setInterval(() => {
      this.getData(this.$route.query.page ?? 1)
    }, 5000)
  },
  unmounted () {
    clearInterval(this.refreshDataInterval)
  },
  methods: {
    getData (page) {
      this.api.GET('/home?page=' + page)
        .then(response => {
          this.stockopnames = response.data
          this.paginate = response.meta
          this.totalPIC = response.total_pic
          this.totalSubmit = response.total_detail ?? 0
        })
    },
    saveDataSubmit (data) {
      this.stockopnameSubmit.id = data.id
      this.stockopnameSubmit.created_at = data.created_at
      this.stockopnames = []
      this.saveSuccess = true
    },
    deleteSubmit () {
      this.stockopnames = []
      this.toast('Data berhasil dihapus')
    },
    deleteData () {
      this.$refs.modalConfirmDeleteSubmit.open()
    },
    saveData () {
      this.$refs.modalConfirmSaveSubmit.open()
    },
  },
}
</script>

<style scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
}
.border {
  border-color: rgba(182, 185, 188, 0.1);
}
</style>