<template>
  <modal ref="modal" @closed="closedModal">
    <template #header>
      <div class="flex h-32 p-4 bg-white rounded-t">
        <div class="w-16 px-4 my-4 text-sm text-blue-500">
          <fa-layers class="p-8">
            <fa-icon icon="circle" size="4x"/>
            <fa-icon
              v-if="!isSaving"
              class="text-white"
              icon="file-upload"
              size="2x"/>
            <fa-icon
              v-else
              class="text-white"
              icon="sync-alt"
              size="2x"
              spin/>
          </fa-layers>
        </div>
        <div class="px-8 py-4">
          <p class="text-base">Anda yakin ingin menyimpan data ?</p>
          <h4 class="text-xs text-gray-400">Pastikan tidak ada data yang tertinggal sebelum menyimpan</h4>
        </div>
      </div>
    </template>
    <template #content>
      <div class="pb-4 bg-white rounded-b top-9 right-4">
        <div>
          <div class="flex justify-between mx-8 mb-4">
            <div>Disimpan pada : </div>
            <div>
              <input v-model="radioOption" type="radio" value="today">
              <label> Hari ini</label>
            </div>
            <div>
              <input v-model="radioOption" type="radio" value="another">
              <label> Tanggal lain</label>
            </div>
          </div>
          <div v-if="differentDate" class="flex items-center justify-between mx-8 mb-4">
            <div>Pilih tanggal : </div>
            <div class="w-48 text-center bg-white rounded">
              <Multiselect
                v-model="value"
                :options="options"
                @change="chooseDate"/>
            </div>
          </div>
        </div>
        <div class="flex h-8 px-4 text-sm text-right">
          <div class="w-1/2 text-center">
          </div>
          <div class="w-1/2 text-center">
            <button
              class="w-20 h-8 mr-2 text-white bg-blue-500 border-gray-500 rounded disabled:bg-gray-400 focus:outline-none"
              :disabled="!canSave"
              @click="confirmSave">
              Save
            </button>
            <button
              type="button"
              class="w-20 h-8 ml-2 text-gray-200 bg-gray-100 border-gray-100 rounded bg-opacity-30 disabled:bg-gray-400 focus:outline-none"
              :disabled="!canSave"
              @click="close">
              Batal
            </button>
          </div>
        </div>
        <div v-if="error" class="px-4 pt-4 error">
          <div class="flex p-2 text-red-500 bg-red-100 bg-opacity-50 rounded">
            <div class="w-1/12"><fa-icon icon="times-circle" size="lg"/></div>
            <div class="w-11/12">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import Multiselect from '@vueform/multiselect'
export default {
  name: 'ModalConfirmSaveSubmit',
  components: {
    Multiselect,
  },
  emits: ['confirmed', 'closeModal'],
  data () {
    return {
      error: false,
      errorMessage: 'Terjadi kesalahan saat mengirim data',
      canSave: true,
      isSaving: false,
      differentDate: false,
      newSubmit: {},
      radioOption: 'today',
      value: 0,
      options: [],
      stockopnameId: null,
    }
  },
  computed: {
    form () {
      return {
        stockopname_id: this.stockopnameId,
      }
    },
  },
  watch: {
    radioOption (newVal) {
      switch (newVal) {
      case 'today':
        this.differentDate = false
        this.stockopnameId = null
        break
      case 'another':
        this.differentDate = true
        break
      }
    },
  },
  mounted () {
    this.getListDate()
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.error = false
      this.$emit('closeModal')
    },
    getListDate () {
      this.api.GET('/stockopname/getListDate')
        .then(response => {
          let listDate = response
          listDate.forEach(element => {
            this.options.push({
              value: element.id,
              label: element.number,
            })
          })
        })
    },
    async confirmSave () {
      this.canSave = false
      this.isSaving = true
      if ((this.differentDate && this.stockopnameId) || (!this.differentDate && !this.stockopnameId)) {
        this.api.POST('/stockopname', this.form)
          .then(response => {
            this.newSubmit = response
            this.$emit('confirmed', response)
            this.close()
          })
          .catch(error => {
            this.error = true
            console.log(error)
            if (error.response.status == 422) {
              this.errorMessage = error.response.status + ': Terdapat kesalahan pada data yang anda kirim'
            } else if (error.response.status == 500) {
              this.errorMessage = error.response.status + ': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut'
            } else {
              this.errorMessage = 'Gagal tersambung dengan server. Silahkan hubungi Gradin untuk info lebih lanjut'
            }
          })
          .finally(() =>{
            this.canSave = true
            this.isSaving = false
          })
      } else {
        this.error = true
        this.errorMessage = 'Harus memilih salah satu tanggal'
        this.canSave = true
        this.isSaving = false
      }
    },
    chooseDate (value) {
      this.stockopnameId = value
    },
  },
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>