<template>
  <div>
    <div class="py-4 mx-12">
      <div class="flex h-24 px-8 py-8 my-4 bg-white rounded">
        <div class="w-full">
          <h2 class="text-2xl">
            <router-link
              :to="{ name: 'home'}"
              class="w-10 text-blue-400 rounded btn-icon">
              <fa-icon icon="chevron-left" size="lg"/>
            </router-link>
            Riwayat
          </h2>
        </div>
      </div>
    </div>
    <div class="px-12">
      <pagination :value="paginate" @change="getData"/>
      <div class="flex flex-wrap -mx-4">
        <div v-for="stockopname in stockopnames" :key="stockopname.id" class="w-1/3 px-4 mb-8">
          <div class="px-2 -mb-4 overflow-visible">
            <div class="inline-block px-2 py-1 mx-6 text-white bg-blue-500 border-2 border-white rounded">
              {{ fmt.dateShort(stockopname.created_at) }}
            </div>
          </div>
          <div class="p-2 bg-white border rounded shadow-sm">
            <div class="flex mx-6 mt-4">
              <div class="w-1/2">
                <p class="text-xs text-gray-200">Jumlah PIC</p>
                <p class="text-xl">{{ fmt.number(stockopname.submit_count) }}</p>
              </div>
              <div class="w-1/2 text-right">
                <p class="text-xs text-gray-200">Jumlah data</p>
                <p class="text-xl">{{ fmt.number(stockopname.detail_count) }}</p>
              </div>
            </div>
            <div class="pb-6 mx-6 mt-4 text-right">
              <router-link
                :to="{ name: 'riwayat_detail', params: { id_stockopname: stockopname.id }, query: { date: stockopname.created_at }}"
                class="flex text-base text-blue-500 rounded main-btn"
                @mouseover="hover = true; index = stockopname.id"
                @mouseleave="hover = false; index = 0">
                <div v-if="hover && index==stockopname.id" class="flex-1">
                  <button
                    class="p-2 text-center focus:outline-none">
                    Lihat Detail
                  </button>
                </div>
                <div class="flex-1">
                  <button
                    class="w-10 p-2 bg-blue-100 rounded bg-opacity-30 focus:outline-none">
                    <fa-icon icon="search" size="lg"/>
                  </button>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from '../../components/Pagination'
export default {
  name: 'Riwayat',
  components: {
    Pagination,
  },
  inject: ['toast'],
  props: {
    newStockopname: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      stockopnames: [],
      hover: false,
      index: 0,
      paginate: {},
    }
  },
  mounted () {
    this.getData(this.$route.query.page ?? 1)
  },
  methods: {
    getData (page) {
      this.api.GET('/stockopname?page=' + page)
        .then(response => {
          this.stockopnames = response.data
          this.paginate = response.meta
        })
    },
  },
}
</script>

<style scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
}
.border {
  border-color: rgba(182, 185, 188, 0.1);
}
</style>