<template>
  <modal ref="modal" @closed="closedModal">
    <template #header>
      <div class="flex h-24 p-4 bg-white rounded-t">
        <div class="w-16 p-5 text-sm text-white bg-red-500 rounded-full"><fa-icon icon="trash" size="2x"/></div>
        <div class="px-8 py-2">
          <p class="text-base">Anda yakin ingin menghapus data ?</p>
          <h4 class="text-xs text-gray-400">Ketikkan "hapus" untuk menghapus data</h4>
        </div>
      </div>
    </template>
    <template #content>
      <div class="pb-4 bg-white rounded-b top-9 right-4">
        <form @submit.prevent="confirmDelete">
          <div class="px-4 mb-4">
            <input
              ref="textConfirmHapus"
              v-model.trim="textConfirmHapus"
              class="block w-full p-4 border rounded"
              placeholder="Masukkan disini">
          </div>
          <div class="flex h-8 px-4 text-sm text-right">
            <div class="w-1/2 text-center">
            </div>
            <div class="w-1/2 text-center">
              <button
                class="w-20 h-8 mr-2 text-white bg-red-500 border-gray-500 rounded disabled:bg-gray-400"
                :disabled="!canDelete">
                Hapus
              </button>
              <button
                type="button"
                class="w-20 h-8 ml-2 text-gray-200 bg-gray-100 border-gray-100 rounded bg-opacity-30 disabled:bg-gray-400"
                @click="close">
                Batal
              </button>
            </div>
          </div>
        </form>
        <div v-if="error" class="error">
          <div class="flex p-2 text-red-500 bg-red-100 bg-opacity-50 rounded">
            <div class="w-1/12"><fa-icon icon="times-circle" size="lg"/></div>
            <div class="w-11/12">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'ModalConfirmDelete',
  emits: ['confirmed', 'closeModal'],
  data () {
    return {
      textConfirmHapus: '',
    }
  },
  computed: {
    canDelete: function () {
      return (this.textConfirmHapus.toLowerCase() === 'hapus')
    },
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.error = false
      this.textConfirmHapus = ''
      this.$emit('closeModal')
    },
    async confirmDelete () {
      this.textConfirmHapus = ''
      this.$emit('confirmed')
      this.close()
    },
  },
}
</script>