<template>
  <modal ref="modal" @closed="closedModal">
    <template #header>
      <div class="flex h-32 p-4 bg-white rounded-t">
        <div class="w-16 px-4 my-4 text-sm text-blue-500">
          <fa-layers class="p-8">
            <fa-icon icon="circle" size="4x"/>
            <fa-icon
              class="text-white"
              icon="sync-alt"
              size="2x"
              spin/>
          </fa-layers>
        </div>
        <div class="px-8 py-4">
          <p class="text-base">Mohon tunggu.</p>
          <h4 class="text-xs text-gray-400">Sistem sedang bekerja membuat laporan stok opname.</h4>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'ModalLoadingReport',
  emits: ['closeModal'],
  data () {
    return {
    }
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.$refs.modal.close()
    },
    closedModal () {
      this.error = false
      this.$emit('closeModal')
    },
  },
}
</script>